body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
    background-image: url("https://demo037102.web30s.vn/datafiles/34058/upload/images/banner/slide2.jpg?t=1636600660");
}


#ContentPlaceHolder1 {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 8px;
}

h2, h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    margin-left:40px;
    font-size:20px;
}

input[type="text"], .aspNetTextBox {
    padding: 5px;
    margin: 5px 10px 15px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left:30px;
    display:block;
}

asp\:Button, .btn {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

    asp\:Button:hover, .btn:hover {
        background-color: #2980b9;
    }

.Donhang {
   
    background-color: #fff;
    border-radius: 8px;
   
}

    .Donhang th {
        background-color: #ecf0f1;
        color: #2c3e50;
        padding: 12px;
        text-align: center;
        font-weight: bold;
    }

    .Donhang td {
        padding: 10px;
        text-align: center;
        border-top: 1px solid #ddd;
        word-wrap: break-word;
    }

    .Donhang tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .Donhang tr:hover {
        background-color: #f1f1f1;
    }

hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.form-group {
    margin-bottom: 15px;
}
input[type="submit"], .aspNetButton {
    margin-left:100px;
    color:darkgreen;
   font-size:15px;
}

